@font-face {
  font-family: 'Metric';
  src: url('../fonts/MetricWeb-Regular.woff2') format('woff2'),
       url('../fonts/MetricWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Metric';
  src: url('../fonts/MetricWeb-Medium.woff2') format('woff2'),
       url('../fonts/MetricWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Metric';
  src: url('../fonts/MetricWeb-Semibold.woff2') format('woff2'),
       url('../fonts/MetricWeb-Semibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

body, html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f6f7;

  font-family: "Metric", Arial, sans-serif;
  color: #000;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 125%;
}
body.page--home .side-panel {
  background-image: url('../images/fruit-combo.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: left 70%;
}
body.page--home .intro {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page--home .intro {
    min-height: 100vh;
    padding-top: 9rem;
  }
}
body.page--home .intro h1 {
  display: inline-block;
  font-size: 2rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  body.page--home .intro h1 {
    display: inline-block;
    margin-right: -25vw;
    font-size: 4rem;
    line-height: 4rem;
  }  
}
body.page--home .more {
  padding-top: 4rem;
}



/* Selection */
::-moz-selection {
  background-color: #ABE8D2;
  background: #000;
  /*color: #fff;*/
}
::selection {
  background-color: #ABE8D2;
  background: #000;
  /*color: #fff;*/
}







/* Basic text definitions */
/* Headlines */
h1, h2, h3, h4 {
  font-weight: 700;
}
/* Paragraph */
p {
  max-width: 42rem;
  line-height: 1.5rem;
}
p + p,
p + ul,
ul + p {
  margin-top: 1rem;
}
/* Anchor */
a {
  text-decoration: none;
  color: inherit;
}
a.a--light {
  opacity: 0.5;
}
a.a--light:hover {
  opacity: 1;
}
p a {
  font-weight: 500;
  background: rgba(255, 255, 255, 0.7);
}
p a:hover {
  background: #fff;
}
/* External links */
p a[href^="http://"]:after,
p a[href^="https://"]:after {
  content: ' \2197';
  font-size: 0.75em;
}
p a[href^="http://localhost"]:after,
p a[href^="http://berlinbyfood"]:after,
p a[href^="https://localhost"]:after,
p a[href^="https://berlinbyfood"]:after {
  content: '';
  display: none;
}
/* Blockquote */
blockquote {
  margin: 2rem 0 1rem;
  border-left: 2px solid #000;
  padding-left: 1.5rem;
}
ul {
  padding-left: 1rem;
}
ul li {
  list-style: square;
}
mark {
  /*background: linear-gradient(to bottom, transparent, transparent 31%, #ABE8D2 32%, #ABE8D2 84%, transparent 85%);*/
  background: linear-gradient(to bottom, transparent, transparent 31%, #f5f6f7 32%, #f5f6f7 84%, transparent 85%);
  /*background: #f5f6f7;*/
}

figure img {
  display: block;
  max-width: 100%;
}






/* Layout */
.side-panel {
  display: inline-block;
  width: calc(50vw - 5px);
  padding: 1rem;
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  .side-panel {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 100vh;
    padding: 2rem 2rem 1rem;
  }
}
.image-panel {
  position: relative;
  display: inline-block;
  width: 50vw;
  max-height: 50vh;
}
.image-panel:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ABE8D2;
  background: #f5f6f7;
  opacity: 0.2;
  mix-blend-mode: lighten;
}
@media screen and (min-width: 768px) {
  .image-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 33.33333vw;
    height: 100vh;
    max-height: 100vh;
    padding: 0;
    background: white;
  }
}
.image-panel img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
main {
  max-width: 48rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  main {
    padding: 2rem;
    margin-left: 270px;
    width: calc(100vw - 270px);
  }
  body.page--home main {
    width: calc(100vw - 270px - 33.33333vw);
  }
  body.page--tours main {
    max-width: 100%;
  }
}





/* Loading effect */
.side-panel,
.image-panel,
main {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
main {
  transition-delay: 0.2s;
}
.image-panel {
  transition-delay: 0.4s;
}
.isLoading .side-panel,
.isLoading main {
  opacity: 0;
  transform: translateX(-1rem);
}
.isLoading .image-panel {
  opacity: 0;
}
.isLoaded .side-panel,
.isLoaded .image-panel,
.isLoaded main {
  opacity: 1;
  transform: translateX(0);
}






/* Logo */
.logo {}
.logo img {
  height: 10rem;
  margin-bottom: 1rem;
}




/* Menu */
nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*bottom: -3px;
  left: -2px;*/
  /*width: calc(100vw + 4px);*/
  z-index: 2;
}
@media screen and (min-width: 768px) {
  nav {
    left: 270px;
    margin-left: 2rem;
  }
}
nav ul {
  display: flex;
  padding: 0;
}
nav li {
  list-style: none;
  width: 25%;
}
@media screen and (min-width: 768px) {
  nav li {
    width: auto;
  }
}
nav a {
  display: block;
  padding: 0.5rem 0.25rem;
  background: #fff;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  text-align: center;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  nav a {
    padding: 0.75rem 2rem;
  }
}
nav li + li a {
  border-left-width: 0;
}
nav a:hover {
  background: #000;
  color: #fff;
}
nav li.is-active a {
  transform: translateY(-2px);
  border-left-width: 2px;
  box-shadow: 0 2px #000;
}
nav li + li.is-active a {
  margin-left: -2px;
}





/* Button */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
}
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  box-shadow: 0 0 transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}
.button:hover,
.button:focus {
  box-shadow: 3px 3px #000;
}
.button:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px #000;
}
.button.button--small {
  padding: 0.25rem 0.75rem;
}




/* Showcase */
.showcase {
  margin-top: 4rem;
  padding: 0;
}
.showcase li {
  list-style: none;
  margin-bottom: -2px;
  border: 2px solid #000;
  line-height: 1rem;
}
.showcase li a {
  display: block;
  padding: 1rem;
}
.showcase li a:hover {
  background: white;
}





/* FAQ */
.faq-items {
  margin-top: 4rem;
  padding: 0;
}
.faq-item {
  margin-bottom: -2px;
  padding: 1rem;
  border: 2px solid #000;
  line-height: 1rem;
}
@media screen and (min-width: 768px) {
  .faq-item {
    padding: 2rem;
  }
}
.faq-item h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}








/* Tours: index cards */
.tours-index {
  margin-top: 3rem;
}

/* Card */
.card {
  position: relative;
  height: 100%;
  padding: 2rem 1rem;
  background: white;
}
.card[class*="visual--"] {
  padding-top: 6rem;
}
@media screen and (min-width: 768px) {
  .card {
    padding: 2rem;
  }
  .card[class*="visual--"] {
    padding-top: 6rem;
  }
}
.card[class*="visual--"]:before,
.card[class*="visual--"]:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  max-width: 20rem;
  height: 9rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}
.card[class*="visual--"]:after {
  top: auto;
  bottom: 0;
  height: 6rem;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.card.visual--avocado:before {
  background-image: url('../images/avocado-top.jpg');
}
.card.visual--avocado:after {
  background-image: url('../images/avocado-bottom.jpg');
}
.card.visual--watermelon:before {
  background-image: url('../images/watermelon-top.jpg');
}
.card.visual--watermelon:after {
  background-image: url('../images/watermelon-bottom.jpg');
}
.card.visual--lemon:before {
  background-image: url('../images/lemon-top.jpg');
}
.card.visual--lemon:after {
  background-image: url('../images/lemon-bottom.jpg');
}
.card.visual--ginger:before {
  background-image: url('../images/ginger-top.jpg');
}
.card.visual--ginger:after {
  background-image: url('../images/ginger-bottom.jpg');
}
.card.visual--aubergine:before {
  background-image: url('../images/aubergine-top.jpg');
}
.card.visual--aubergine:after {
  background-image: url('../images/aubergine-bottom.jpg');
}
.card > * {
  position: relative;
  z-index: 2;
}



.card .tour-meta {
  margin: 0.5rem 0;
  color: #aaa;
}
.card .tour-meta a {
  margin: 0.5rem 0;
  color: #666;
}
.card .tour-meta a:hover {
  margin: 0.5rem 0;
  color: #000;
}




/* Language switcher */
.lang-switcher {
  display: flex;
  justify-self: flex-end;
}
.lang-switcher li {
  list-style: none;
}
.lang-switcher li a {
  display: block;
  padding: 0.5rem;
  border: 1px solid transparent;
  line-height: 0.75rem;
  font-size: 0.875rem;
  color: #666;
}
.lang-switcher li a:hover {
  color: #000;
}
.lang-switcher > li.active a {
  border-color: #000;
  font-weight: 600;
  color: #000;
}




/* Contact form */
.contact-form {
  margin-top: 2rem;
}
.field {
  margin-bottom: 1rem;
}
.contact-form input,
.contact-form textarea,
.contact-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
  max-width: 42rem;
  padding:  0.75rem 1rem;
  border-radius: 0;
  background: white;
  border: 2px solid #eee;
}
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  outline: none;
  border-color: #000;
}
.contact-form input.error,
.contact-form textarea.error,
.contact-form select.error {
  outline: none;
  border-color: #f00;
}
label, input, textarea, select {
  display: block;
  width: 100%;
}
.uniform__potty {
  position: absolute;
  left: -9999px;
}
.error {
  border: 1px solid red;
}




/* Footer */
.footer {
  min-height: 5rem;
}




/* Blog: index cards */
.article-index {
  margin-top: 2rem;
}
.article-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: -2px;
  padding: 1.5rem 1.5rem 2.5rem;
  border: 2px solid #000;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .article-item {
    flex-direction: row;
    padding: 2rem;
  }
}
.article-item:hover {
  background: white;
}
.article-item .link {
  position: absolute;
  bottom: -2px;
  right: -2px;
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #fff;
  border: 2px solid #000;
}
.article-item .link:hover {
  background: #000;
  color: white;
}
.article-item .article-coverimage {
  order: -1;
  max-width: calc(100% + 4rem);
  max-height: 35vw;
  margin: -2rem -2rem 1.5rem -2rem;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .article-item .article-coverimage {
    order: 2;
    max-width: 33.33333%;
    margin: -2rem -2rem -2rem 2rem;
  }
}
.article-item .article-coverimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-item p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.article-date {
  opacity: 0.3;
}