@font-face {
  font-family: 'Metric';
  src: url('../fonts/MetricWeb-Regular.woff2') format('woff2'),
       url('../fonts/MetricWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Metric';
  src: url('../fonts/MetricWeb-Medium.woff2') format('woff2'),
       url('../fonts/MetricWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Metric';
  src: url('../fonts/MetricWeb-Semibold.woff2') format('woff2'),
       url('../fonts/MetricWeb-Semibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

body, html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F7F7F5;

  font-family: "Metric", Arial, sans-serif;
  color: #1B153E;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 125%;
}
@media screen and (min-width: 768px) {
  body.page--home .side-panel {
    background-image: url('../images/fruit-combo.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: left 70%;
  }
}
body.page--home .intro {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page--home .intro {
    /*min-height: 100vh;*/
    padding-top: 9rem;
  }
}
body.page--home .intro h1 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  body.page--home .intro h1 {
    display: inline-block;
    /*margin-right: -25vw;*/
    font-size: 3rem;
    line-height: 3rem;
  }  
}
body.page--home .intro h2 {
  display: block;
  margin-top: -0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
}
body.page--home .more {
  padding-top: 3rem;
}




/* Selection */
::-moz-selection {
  background: #E27C7C;
}
::selection {
  background: #E27C7C;
}







/* Basic text definitions */
/* Headlines */
h1 {
  margin-bottom: 1rem;
}
h1, h2, h3, h4 {
  font-weight: 700;
  color: #1B153E;
}
/* Paragraph */
p {
  max-width: 42rem;
  line-height: 1.5rem;
}
p + p,
p + ul,
ul + p,
figure + p {
  margin-top: 0.5rem;
}
/* Anchor */
a {
  text-decoration: none;
  color: inherit;
}
a.a--light {
  opacity: 0.5;
}
a.a--light:hover {
  opacity: 1;
}
p a {
  font-weight: 500;
  background: rgba(255, 255, 255, 0.7);
}
p a:hover {
  background: #fff;
}
/* Blockquote */
blockquote {
  margin: 2rem 0 1rem;
  border-left: 2px solid #1B153E;
  padding-left: 1.5rem;
}
ul {
  padding-left: 1rem;
}
ul li {
  list-style: square;
}
mark {
  background: none;
  color: #E27C7C;
}
/* Selection */
mark::-moz-selection {
  color: #1B153E;
}
mark::selection {
  color: #1B153E;
}



figure img {
  display: block;
  max-width: 100%;
}
figure.image-right {
  float: right;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}






/* Layout */
.side-panel {
  display: inline-block;
  width: calc(50vw - 5px);
  padding: 1rem;
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  .side-panel {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 100vh;
    padding: 2rem 2rem 1rem;
  }
}
.image-panel {
  position: relative;
  display: none;
  width: 50vw;
  max-height: 50vh;
}
.page--hasImage .image-panel {
  display: inline-block;
}
.image-panel:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F7F7F5;
  opacity: 0.1;
  mix-blend-mode: lighten;
}
@media screen and (min-width: 768px) {
  .image-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 33.33333vw;
    height: 100vh;
    max-height: 100vh;
    padding: 0;
    background: white;
  }
}
.image-panel img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
main {
  max-width: 48rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  main {
    padding: 2rem;
    margin-left: 270px;
    width: calc(100vw - 270px);
  }
  body.page--hasImage main {
    width: calc(100vw - 270px - 33.33333vw);
  }
  body.page--tours main {
    max-width: 100%;
  }
}





/* Loading effect */
.side-panel,
.image-panel,
main {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
main {
  transition-delay: 0.2s;
}
.image-panel {
  transition-delay: 0.4s;
}
.page--home .more {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transition-delay: 1.5s;
}
/* isLoading */
.isLoading .side-panel,
.isLoading main {
  opacity: 0;
  transform: translateX(-1rem);
}
.page--home.isLoading .more {
  opacity: 0;
  transform: translateY(2rem);
}
.isLoading .image-panel {
  opacity: 0;
}
/* isLoaded */
.isLoaded .side-panel,
.isLoaded .image-panel,
.isLoaded main {
  opacity: 1;
  transform: translateX(0);
}
.page--home.isLoaded .more {
  opacity: 1;
  transform: translateY(0);
}





/* Logo */
.logo {}
.logo img {
  max-width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
}




/* Menu */
nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*bottom: -3px;
  left: -2px;*/
  /*width: calc(100vw + 4px);*/
  z-index: 2;
}
@media screen and (min-width: 768px) {
  nav {
    left: 270px;
    margin-left: 2rem;
  }
}
nav ul {
  display: flex;
  padding: 0;
}
nav li {
  list-style: none;
  width: 25%;
}
@media screen and (min-width: 768px) {
  nav li {
    width: auto;
  }
}
nav a {
  display: block;
  padding: 0.5rem 0.25rem;
  background: #fff;
  color: #1B153E;
  text-decoration: none;
  border: 2px solid #1B153E;
  text-align: center;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  nav a {
    padding: 0.75rem 2rem;
  }
}
nav li + li a {
  border-left-width: 0;
}
nav a:hover {
  background: #1B153E;
  color: #fff;
}
nav li.is-active a {
  transform: translateY(-2px);
  border-left-width: 2px;
  box-shadow: 0 2px #1B153E;
}
nav li + li.is-active a {
  margin-left: -2px;
}





/* Button */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
}
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #1B153E;
  text-decoration: none;
  border: 2px solid #1B153E;
  box-shadow: 0 0 transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}
.button:hover,
.button:focus {
  box-shadow: 3px 3px #1B153E;
}
.button:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px #1B153E;
}
.button.button--small {
  padding: 0.25rem 0.75rem;
}




/* Showcase */
.showcase {
  margin-top: 4rem;
  padding: 0;
}
.showcase li {
  list-style: none;
  margin-bottom: -2px;
  border: 2px solid #1B153E;
  line-height: 1rem;
}
.showcase li a {
  display: block;
  padding: 1rem;
}
.showcase li a:hover {
  background: white;
}





/* FAQ */
.faq-items {
  margin-top: 4rem;
  padding: 0;
}
.faq-item {
  margin-bottom: -2px;
  padding: 1rem;
  border: 2px solid #1B153E;
  line-height: 1rem;
}
@media screen and (min-width: 768px) {
  .faq-item {
    padding: 2rem;
  }
}
.faq-item h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}








/* Tours: index cards */
.tours-index {
  margin-top: 3rem;
}
.tours-index__col {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .tours-index__col {
    margin-bottom: 2rem;
  }
}

/* Card */
.card {
  position: relative;
  height: 100%;
  padding: 2rem 1rem;
  background: white;
}
.card[class*="visual--"] {
  padding-top: 6rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .card {
    padding: 2rem;
  }
  .card[class*="visual--"] {
    padding-top: 6.5rem;
  }
}
.card[class*="visual--"]:before,
.card[class*="visual--"]:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  max-width: 20rem;
  height: 9rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}
.card[class*="visual--"]:after {
  top: auto;
  bottom: 0;
  height: 6rem;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.card.visual--avocado:before {
  background-image: url('../images/avocado-top.jpg');
}
.card.visual--avocado:after {
  background-image: url('../images/avocado-bottom.jpg');
}
.card.visual--watermelon:before {
  background-image: url('../images/watermelon-top.jpg');
}
.card.visual--watermelon:after {
  background-image: url('../images/watermelon-bottom.jpg');
}
.card.visual--lemon:before {
  background-image: url('../images/lemon-top.jpg');
}
.card.visual--lemon:after {
  background-image: url('../images/lemon-bottom.jpg');
}
.card.visual--ginger:before {
  background-image: url('../images/ginger-top.jpg');
}
.card.visual--ginger:after {
  background-image: url('../images/ginger-bottom.jpg');
}
.card.visual--aubergine:before {
  background-image: url('../images/aubergine-top.jpg');
}
.card.visual--aubergine:after {
  background-image: url('../images/aubergine-bottom.jpg');
}
.card > * {
  position: relative;
  z-index: 2;
}



.card .tour-meta {
  margin: 0.5rem 0;
  color: #aaa;
}
.card .tour-meta a {
  margin: 0.5rem 0;
  color: #666;
}
.card .tour-meta a:hover {
  margin: 0.5rem 0;
  color: #1B153E;
}




/* Language switcher */
.lang-switcher {
  display: flex;
  padding-left: 0;
}
.lang-switcher li {
  list-style: none;
}
.lang-switcher li a {
  display: block;
  padding: 0.5rem;
  border: 1px solid transparent;
  line-height: 0.75rem;
  font-size: 0.875rem;
  color: #666;
}
.lang-switcher li a:hover {
  color: #1B153E;
}
.lang-switcher > li.active a {
  border-color: #1B153E;
  font-weight: 600;
  color: #1B153E;
}




/* Sticker */
.sticker {
  position: relative;
  z-index: 1000900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  margin: -3rem 0 auto auto;
  padding: 0.5rem;
  border-radius: 50%;
  background: #E27C7C;
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
  line-height: 0.875rem;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  -webkit-shape-inside: circle(2.5rem);
  -moz-shape-inside: circle(2.5rem);
  shape-inside: circle(2.5rem);
  transition: all 0.3s ease-in-out;
}
.isLoaded .sticker {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}
.sticker span {
  position: relative;
}




/* Contact form */
p + .contact-form {
  margin-top: 2rem;
}
.field {
  margin-bottom: 1rem;
}
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
  max-width: 42rem;
  padding:  0.75rem 1rem;
  border-radius: 0;
  background: white;
  border: 2px solid #eee;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #1B153E;
}
input.error,
textarea.error,
select.error {
  outline: none;
  border-color: #E27C7C;
}
select {
  background-image: url('../images/caret-down.svg');
  background-repeat: no-repeat;
  background-position: right center;
}
.data-consent {
  margin-bottom: 0.5rem;
}
.data-consent p {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1rem;
  opacity: 0.5;
}
.data-consent .input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
input[type="checkbox"] {
  display: inline-block;
  padding: 0;
  width: 2rem;
  flex-basis: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background: #1B153E;
  border-color: #fff;
  background-image: url('../images/check.svg');
  background-repeat: no-repeat;
  background-position: center;
}
input[type="checkbox"]:focus {
  border-color: #eee;
}
input[type="checkbox"] + label {
  display: inline-block;
  width: auto;
  cursor: pointer;
}
label, input, textarea, select {
  display: block;
  width: 100%;
}
.uniform__potty {
  position: absolute;
  left: -9999px;
}
.error {
  border: 1px solid #E27C7C;
}
.error-text {
  color: #E27C7C;
}

.success-message {
  display: flex;
  margin: 2rem 0;
}
.success-message .icon {
  font-size: 3rem;
  margin-right: 0.5rem;
}
@media screen and (min-width: 768px) {
  .success-message .icon {
    font-size: 4rem;
    margin-right: 1rem;
  }
}



/* Footer */
.footer {
  margin-top: 1rem;
  min-height: 5rem;
}
.footer main {
  position: relative;
}
.footer main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 1rem;
  height: 2px;
  width: 3rem;
  background: #1B153E;
}
@media screen and (min-width: 768px) {
  .footer main:before {
    left: 2rem;
  }
}
.footer .colophon {
  margin: 0;
}
.footer .colophon a {
  font-weight: normal;
  background: transparent;
  opacity: 0.25;
}
.footer .colophon a:hover {
  opacity: 0.5;
}
.footer .colophon a:active {
  opacity: 0.8;
}




/* Blog: index cards */
.article-index {
  margin-top: 2rem;
}
.article-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: -2px;
  padding: 1.5rem 1.5rem 2.5rem;
  border: 2px solid #1B153E;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .article-item {
    flex-direction: row;
    padding: 2rem;
  }
}
.article-item:hover {
  background: white;
}
.article-item .link {
  position: absolute;
  bottom: -2px;
  right: -2px;
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #fff;
  border: 2px solid #1B153E;
}
.article-item .link:hover {
  background: #1B153E;
  color: white;
}
.article-item .article-coverimage {
  order: -1;
  max-width: calc(100% + 4rem);
  max-height: 35vw;
  margin: -2rem -2rem 1.5rem -2rem;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .article-item .article-coverimage {
    order: 2;
    max-width: 33.33333%;
    margin: -2rem -2rem -2rem 2rem;
  }
}
.article-item .article-coverimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-item figcaption {
  display: none;
}
.article-item p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.article-date {
  opacity: 0.3;
}

.article-infopanel {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background: rgba(27, 21, 62, 0.05);
}
.article-infopanel p {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.article-infopanel a {
  white-space: nowrap;
}



/* Blog article show page */
@media screen and (min-width: 768px) {
  .page--article h1 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}
.page--article .article-coverimage {
  max-height: 60vh;
  overflow: hidden;
}
.page--article .text:after {
  content: "";
  display: table;
  clear: both;
}
.page--article .article-coverimage + figcaption {
  margin-bottom: 1rem;
}
.page--article .article-coverimage img {
  width: 100%;
}
.page--article figcaption {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  opacity: 0.3;
}
.page--article .text figure {
  margin: 1rem 0;
}
/* Figure size */
.page--article .article figure.small,
.page--article .article figure.medium {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.page--article .article figure.medium {
  max-width: 75%;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .page--article .article figure.medium {
    max-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .page--article .article figure.small {
    max-width: 30%;
  }
  .page--article .article figure.medium {
    max-width: 50%;
  }
}
/* Figure alignment */
@media screen and (min-width: 480px) {
  .page--article .article figure.small.inline-left {
    margin-right: 1rem;
    float: left;
  }
  .page--article .article figure.small.inline-right {
    margin-left: 1rem;
    float: right;
  }
}
@media screen and (min-width: 960px) {
  .page--article .article figure.medium.inline-left {
    margin-right: 1rem;
    float: left;
  }
  .page--article .article figure.medium.inline-right {
    margin-left: 1rem;
    float: right;
  }
}

.page--article .cta {
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgba(27, 21, 62, 0.05);
}
.page--article .cta form {
  margin-top: 0.5rem;
}
.page--article .field-group input {
  margin-top: 0.5rem;
}
@media screen and (min-width: 480px) {
  .page--article .field-group {
    display: flex;
  }
  .page--article .field-group input[type="submit"] {
    flex: 0;
    flex-basis: 10rem;  
    margin-left: 1rem;
  }
}


/* Homepage more arrow */
.home-more {
  position: relative;
  display: inline-block;
  margin-left: calc(1px - 0.5rem);
  margin-top: -1.125rem;
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 1s ease-in-out;
  transition-delay: 2s;
}
.isLoaded .home-more {
  opacity: 1;
  transform: translateY(0);
}




/* Cookie Consent Window*/
.cc-window.cc-floating {
  max-width: 20rem !important;
  padding: 1rem !important;
  font: inherit;
  font-size: 0.875rem;
  line-height: 1rem;
  color: inherit;
}