*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

body, html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f6f7;

  font-family: "Metric", Arial, sans-serif;
  color: #000;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 125%;
}

body {
}
body.page--home main {
}
body.page--home .intro {
  min-height: 100vh;
  padding-top: 10rem;
}
body.page--home .intro h1 {
  display: inline-block;
  margin-right: -18rem;
  font-size: 4rem;
  line-height: 3rem;
  background: #f5f6f7;
}
body.page--home .more {
  padding-top: 4rem;
}





/* Layout */
.side-panel {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 100vh;
  padding: 2rem 2rem 1rem;
}
.image-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: 80vh;
  height: 100vh;
  padding: 0;
  background: white;
}
.image-panel img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
main {
  padding: 2rem;
  margin-left: 270px;
  width: calc(100vw - 270px - 80vh);
}


/* Loading effect */
.side-panel,
.image-panel,
main {
  transition: all 0.3s ease-in-out;
}
main {
  transition-delay: 0.2s;
}
.image-panel {
  transition-delay: 0.4s;
}
.isLoading .side-panel,
.isLoading .image-panel,
.isLoading main {
  opacity: 0;
  transform: translateX(1rem);
}
.isLoaded .side-panel,
.isLoaded .image-panel,
.isLoaded main {
  opacity: 1;
  transform: translateX(0);
}






/* Logo */
.logo {}
.logo img {
  height: 10rem;
}




/* Menu */
nav {
  position: fixed;
  bottom: 0;
  left: 270px;
  z-index: 2;
  margin-left: 2rem;
}
nav ul {
  display: flex;
}
nav a {
  display: block;
  padding: 1rem 2rem;
  background: #fff;
  color: #000;
  text-decoration: none;
  border: 1.5px solid #000;
}
nav li + li a {
  border-left-width: 0;
}
nav a:hover {
  background: #000;
  color: #fff;
}


figure img {
  display: block;
  max-width: 100%;
}




/* Anchor */
a {
  text-decoration: none;
  color: inherit;
}




/* Paragraph */
p {
  line-height: 1.5rem;
}
p + p {
  margin-top: 1rem;
}



/* Blockquote */
blockquote {
  margin: 2rem 0 1rem;
  border-left: 1.5px solid #000;
  padding-left: 1.5rem;
}




/* Button */
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  text-decoration: none;
  border: 1.5px solid #000;
}






/* Showcase */
.showcase {
  margin-top: 4rem;
}
.showcase li {
  margin-bottom: -2px;
  border: 1.5px solid #000;
  line-height: 1rem;
}
.showcase li a {
  display: block;
  padding: 1rem;
}
.showcase li a:hover {
  background: white;
}




/* Language switcher */
.lang-switcher {
  display: flex;
  justify-self: flex-end;
}
.lang-switcher li a {
  display: block;
  padding: 0.75rem 0.5rem 0.5rem;
  border: 1px solid transparent;
  line-height: 0.75rem;
  color: #999;
}
.lang-switcher li a:hover {
  color: #000;
}
.lang-switcher > li.active a {
  border-color: #000;
  font-weight: 600;
  color: #000;
}
